body{
  background-color: black;
}

.spacing{
letter-spacing: 2px;
  }
  .loading{
    position:absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .profiles{
    width: 250px;
    height:auto;
  }
      
  h2 {

    letter-spacing: 2rem;
}