
.row{
	display:inline;
}
.navmobile{
	position:fixed;
	display:inline-block;
	font-size:3vh;
	color : #b8ad82;
	left:2vh;
	top:9vh;
	
}
.container{
	width:100%;
}
#navbarbg {
	position: fixed;

	height:20vh;
	    transition:  0.2s ease-in-out;
	    width: 100%;
	    font-weight: 500;
        background-color: rgba(0,0,0,0.5);


}

.icon{
	width:auto;
	border-radius: 50%;
	height: 20vh;
	opacity:0.8;
	position:absolute;
	left:15vh;
}
.paddnav{
	margin-left:5vw;
	color:white;
	border: 1px solid transparent;
    padding: 8px;

}

#navbar {
	
    padding:9vh;
	z-index: 9999;
    display: inline-block;
	-webkit-transition: .5s all ease-out;
	-moz-transition: .5s all ease-out;
	transition: .5s all ease-out;
	color: #ffffff;
    position:absolute;
	text-transform: uppercase;
	text-decoration: none;
		position:relative;
		top: 9vh;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align:center;
		color:white;
		
	
	
}

.active{

	color : #b8ad82;
	text-decoration: none;
	border: 1px solid #b8ad82;
	transition: all 0.4s;

}

.hover a:hover{
	color : #b8ad82;
	text-decoration: none;
	border: 1px solid #b8ad82;
	transition: all 0.4s;
}
