body{
    background-color: black;
  }
  
  .spacing{
      letter-spacing: 2px;
        }
        .loading{
          position:absolute;
          top: 50vh;
          left: 50%;
          transform: translate(-50%, -50%);
      } 
      h2 {
  
          letter-spacing: 2rem;
      }
      h1 {
          letter-spacing: 2rem;
      } 
i{
    color:white;
}
i:hover{
    color: #b8ad82;
}
.social{

    transform: translate(2%, -30%);
}